{{ define "title" }}Home{{ end }}
{{ define "description" }}Citlali Melany's Online Portfolio{{ end }}
{{ define "header" }}<!--No header-->{{ end }}

{{ define "main" }}
<section id="home">
  <nav class="right">
    <a href="#home">Home</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>

  <h1>Citlali Melany <br> Carbajal-Castañeda</h1>
</section>

<section id="portfolio">
  <p>My collections:</p>

  {{ range .Albums }}
  <figure>
    <a href="/album/{{ .FileName }}">
      <img src="{{ .Thumbnail.Src }}" alt="{{ .Thumbnail.Alt }}" title="{{ .Thumbnail.Title }}" >
    </a>
    <figcaption>{{ .Title }}</figcaption>
  </figure>
  {{ end }}
</section>

<section id="about">
  <h2>About</h2>

  <p>about me</p>
</section>

<section id="contact">
  <h2>Contact</h2>

  <address>
    <a href="mailto:citlali@citlalimelany.com">
      <img src="/static/img/email.svg" alt="email 'logo'"/>
      citlali@citlalimelany.com
    </a>

    <a href="https://www.instagram.com/artdesigns.by.citlali.melany/" target="_blank" rel="noopener noreferrer">
      <img src="/static/img/instagram.svg" alt="instagram logo"/>
      @artdesigns.by.citlali.melany
    </a>
  </address>

  <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="{{ .Email_API }}">
    <input type="hidden" name="subject" value="Contact Me Form Submission">
    <input type="hidden" name="from_name" value="Contact Form">
    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
    <input type="text" name="name" placeholder="Your Name" required />
    <input type="email" name="email" placeholder="your@email.com" required />
    <textarea rows="6" name="message" placeholder="Your Message"></textarea>
    <div class="h-captcha" data-captcha="true"></div>
    <button type="submit">Submit</button>
  </form>
  <script src="https://web3forms.com/client/script.js" async defer></script>
</section>
{{ end }}
