{{ define "title" }}Home{{ end }}
{{ define "description" }}Citlali Melany's Online Portfolio{{ end }}

{{ define "main" }}
<figure>
  <img src="/static/img/senior_pic.webp" alt="me at my local swamp">
</figure>
<h1>Citlali Melany Carbajal-Castañeda</h1>

<p>My collections:</p>

{{ range .Albums }}
<figure>
  <a href="/album/{{ .FileName }}">
    <img src="{{ .Thumbnail.Src }}" alt="{{ .Thumbnail.Alt }}" title="{{ .Thumbnail.Title }}" >
  </a>
  <figcaption>{{ .Title }}</figcaption>
</figure>
{{ end }}

{{ end }}
