{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Citlali Melany Carbajal">
    <meta name="description" content="{{ block "description" .}}Citlali Melany's Portfolio Site{{ end }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://citlalimelany.com{{ .Path }}">
    <title>{{ template "title" . }} ~ Citlali Melany</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
  </head>
  <body>
    <header>
      {{ block "header" . }}
      <h1>Citlali Melany's Portfolio Site</h1>
      {{ end }}
    </header>
    <main>
      {{ template "main" . }}
    </main>
    <footer>
      {{ block "footer" . }}
      <small>
        &copy; Citlali Melany Carbajal-Castañeda

        <br>

        Made with &lt;3 by her brother <a href="https://www.acsq.me">ángel</a>;
        see <a href="https://git.acsq.me/citlalimelany.com/about">source code</a> and
        its <a href="https://git.acsq.me/citlalimelany.com/tree/LICENSE">
          license</a>
      </small>
      {{ end }}
    </footer>
  </body>
</html>
{{ end }}
