{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Citlali Melany Carbajal">
    <meta name="description" content="{{ block "description" .}}Citlali Melany's Portfolio Site{{ end }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://citlalimelany.com{{ .Path }}">
    <title>{{ template "title" . }} ~ Citlali Melany</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
  </head>
  <body>
    <header>
      {{ block "header" . }}
      <p>header</p>
      {{ end }}
    </header>
    <main>
      {{ template "main" . }}
    </main>
    <footer>
      {{ block "footer" . }}
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
      {{ end }}
    </footer>
  </body>
</html>
{{ end }}
